body {
margin: 0;
padding: 0;
width: 100%;
}
header {
  padding: 16px;
	width: 100%;
	height: 25vh;
  background: linear-gradient(-60deg, #feb236, #ff7b25, #6b5b95, #d64161);
  background-size: 400% 400%;
  animation: gradientBG 13s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header .jsk_logo {
  position: absolute;
  left: 50px;
  height: 25vh;
  width: 100%;
  overflow: hidden;
}
header h1 {
  width: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 5vh;
  font-weight: 400;
}
div p, h2 {
  margin-left: 20px;
}
div .info {
  text-align: right;
}
div ul {
  list-style-type: none;
  position: relative;
}
.school, .work li {
  width: 95%;
}
li img {
  float: left;
  width: 100px;
  margin-right: 20px;
}
li h3 {
  margin-top: 0;
}
footer {
  padding-left: 20px;
  background-color: #707070;
  color: #e5e5e5;
  height: 25vh;
  text-align: center;
}
